<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link text-primary" (click)="changeTab('information')"
    [ngClass]="{'active text-muted': tab == 'information'}">Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-primary" (click)="changeTab('photos')"
    [ngClass]="{'active text-muted': tab == 'photos'}">Photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-primary" (click)="changeTab('reviews')"
    [ngClass]="{'active text-muted': tab == 'reviews'}">Reviews</a>
  </li>
</ul>
<div class="content-container">
  <app-profile-edit-form *ngIf="tab == 'information'"></app-profile-edit-form>
  <app-profile-pictures-form *ngIf="tab == 'photos'"></app-profile-pictures-form>
  <app-profile-reviews *ngIf="tab == 'reviews'"></app-profile-reviews>
</div>