<div class="row">
  <div class="col-lg-4">
    <div class="product-info-container">
      <div class="img" [ngStyle]="{'background-image': 'url(' + location.photoUrl + ')'}"></div>   
      <div class="product-info">
        {{ location.name }}
        <div class="location-address">
          {{ location.address }}<br>
          {{ location.city }}, {{ location.state }} {{ location.zip }}
        </div>
        <div class="location-type">
          {{ location.marketType == "Grocery" ? "Grocery Store" : "Farmer's Market" }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="reviews-container">
      <h3>Recently Reviewed From Location</h3>
      <app-review [review]="review" [reviewType]="'location'"></app-review>
      <app-review [review]="review" [reviewType]="'location'"></app-review>
    </div>
  </div>
</div>