<div class="img" [ngStyle]="{'background-image': 'url(' + getUserBackground(user.backgroundUrl) + ')'}"></div>
<div class="avatar-container">
    <img class="user-avatar" src="{{ getUserAvatar(user.avatarUrl) }}">
</div>
<div class="user-details">
    <div class="reviews-and-activity">
        <div class="reviews">
            Reviews:<br>
            {{ user.reviewCount }}
        </div>
        <div class="photo-space"></div>
        <div class="last-active">
            Last Active:<br>
            {{ user.lastActive | timeAgo }}
        </div>
    </div>
    <div class="username">
        {{ user.email }}
        <div class="something" *ngIf="user.userRole == 0 || user.reviewCount > 10">
            <h4>
                <span class="badge badge-secondary" *ngIf="user.userRole == 0" >Admin</span>
                <span class="badge badge-info" *ngIf="user.reviewCount > 10">Super Reviewer</span>
            </h4>
        </div>
    </div>
    <div class="reviews-container">
        <h3>Most Recent Reviews</h3>
        <h3 class="no-reviews-header" *ngIf="userLoaded && user.reviews.length == 0">No Reviews</h3>
        <div *ngIf="userLoaded && user.reviews.length">
            <app-review [review]="review" *ngFor="let review of user.reviews"
            [reviewType]="'both'"></app-review>
        </div>
    </div>
</div>
